<style>
    div#userId {
        margin-left: 5px;
        margin-right: 5px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light @Html.RenderEnvironmentStatusBarColor(Constants.Environment) statusbar">

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-calendar"></i> @DateTime.Now.ToString("ddd, dd MMM yyy")
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-clock-o"></i> @DateTime.Now.ToString("h:mm tt")
                </a>
            </li>
            @if (Constants.Environment != "Production")
            {
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-globe"></i>
                        @Html.RenderMachineName()
                    </a>
                </li>
            }
            @if (Constants.Environment != "Production")
            {
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-database"></i>
                        (@Html.RenderDataSource()) @Html.RenderDatabaseName()
                    </a>
                </li>
            }
        </ul>


        <ul class="navbar-nav ml-auto">
            @if (!User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a href="@Constants.LoginUrl" class="nav-link" role="button" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-sign-in"></i>&nbsp; Login<span class="caret"></span>
                    </a>
                </li>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item dropdown">

                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-user"></i>&nbsp; @Html.RenderUserFullname()<span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" id="dropdownUserMenu">
                        <li id="listItem">
                            <div id="userId" class="bg-blue-gradient text-white p-2 text-sm-center pointer">
                                <small>
                                    ALSDE ID: @Html.RenderClaim("AlsdeId")
                                </small>
                            </div>
                        </li>
                        <li role="separator" class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="@Constants.LoginUrl/ApplicationInventory.aspx"><i class="fa fa-home"></i> My Applications</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="@Constants.LoginUrl/UserProfile.aspx"><i class="fa fa-book"></i> User Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="@Constants.LoginUrl/EdDirPositions.aspx"><i class="fa fa-university"></i> EdDir Positions</a>
                        </li>
                        <li role="separator" class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="/account/signout"><i class="fa fa-sign-out"></i> Logout</a>
                        </li>
                    </ul>

                </li>
                <li class="nav-item">
                    <a href="/account/signout" class="nav-link"><i class="fa fa-sign-out"></i> Logout</a>
                </li>
            }
        </ul>


    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded",
        function (event) {
            $('#userId').on('click',
                function (e) {
                    const text = e.currentTarget.innerText.split(':')[1].trim();
                    navigator.clipboard.writeText(text).then(function () {
                        console.log('Async: Copying to clipboard was successful!');
                        toastr.success('Copied to clipboard');
                    },
                        function (err) {
                            console.error('Async: Could not copy text: ', err);
                        });
                });
        });

</script>